/* animation */
@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navMenu{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes part-1{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes part-2{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideRightP{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes socialIcon{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fromBottom{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Zoomin{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}